/* SkyTrack Flight Table - Enhanced Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.route-container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 97vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	max-height: 100vh;
	font-family: monospace;
	background-image: url('../public/assets/background.jpg');
}

body#root {
	width: 100% !important;
}